<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ex2-5-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A3F987471F2573F9007BED3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3F987601F2573FA007BED3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3F9876B1F2573FA007BED3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
