<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ex2-1-7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A3B439F91E13ECF700AD03E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3B43A121E13ECF800AD03E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3B43A1D1E13ECF800AD03E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
